@import "tailwindcss";

@theme {
    --font-satoshi: Satoshi, sans-serif;
    --font-charter: Charter, serif;
    --font-neue: Neue, sans-serif;
}



@layer base {
  .prose img + p {
    text-align: center;
    color: #71717a; /* equivalente ao text-zinc-500 */
    font-size: 0.85rem;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
  }
  .prose h1 {
    font-family: theme('fontFamily.neue');
    font-size: theme('fontSize.4xl');
    font-weight: theme('fontWeight.bold');
    line-height: theme('lineHeight.tight');
    margin: theme('spacing.12') 0 theme('spacing.4');
  }
  .prose h2 {
    font-family: theme('fontFamily.neue');
    font-size: theme('fontSize.3xl');
    font-weight: theme('fontWeight.black');
    line-height: theme('lineHeight.snug');
    margin: theme('spacing.10') 0 theme('spacing.3');
  }
  .prose h3 {
    font-family: theme('fontFamily.neue');
    font-size: theme('fontSize.2xl');
    font-weight: theme('fontWeight.extrabold');
    line-height: theme('lineHeight.snug');
    margin: theme('spacing.8') 0 theme('spacing.3');
  }
  .prose h4,.prose h5,.prose h6 {
    font-family: theme('fontFamily.neue');
    font-size: theme('fontSize.xl');
    font-weight: theme('fontWeight.black');
    line-height: theme('lineHeight.normal');
    margin: theme('spacing.6') 0 theme('spacing.2');
  }
  .prose p {
    font-family: theme('fontFamily.charter');
    font-size: theme('fontSize.lg');
    line-height: theme('lineHeight.relaxed');
    margin-bottom: theme('spacing.4');
  }
  .prose a {
    color: theme('colors.blue.800');
    font-weight: theme('fontWeight.medium');
  }
  .prose a:hover { color: theme('colors.blue.800'); text-decoration: underline; }
  .prose ul,.prose ol {
    margin-bottom: theme('spacing.4');
    padding-left: theme('spacing.5');
  }
  .prose ul { list-style-type: none; }
  .prose ol { list-style-type: none; }
  .prose li>ul,.prose li>ol { margin-top: theme('spacing.2');}
  .prose blockquote {
    margin-bottom: theme('spacing.4');
    border-left-width: theme('borderWidth.2');
    padding-left: theme('spacing.4');
    border-color: theme('colors.zinc.600');
    color: theme('colors.zinc.600');
    font-style: italic;
  }
  .prose hr {
    border-color: theme('colors.gray.500');
    margin: theme('spacing.8') 0;
  }
  .prose strong { font-weight: theme('fontWeight.bold'); }
  .prose img {
    max-width: 100%;
    display: block;
    margin: theme('spacing.8') 0;
  }
  .prose code {
    background-color: #191818;
    border-radius: theme('borderRadius.sm');
    padding: theme('spacing.1') theme('spacing.2');
    font-family: theme('fontFamily.mono');
    font-size: theme('fontSize.sm');
    color: theme('colors.zinc-50');
  }
  .prose pre {
    background-color: #191818;
    border-radius: theme('borderRadius.sm');
    padding: theme('spacing.4');
    margin-bottom: theme('spacing.4');
    overflow-x: auto;
  }
  .prose pre code {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
  }
}
