@font-face {
    font-family: Satoshi;
    src: url("./assets/fonts/Satoshi/Satoshi-Regular.woff2");
    font-display: swap;
}

@font-face {
    font-family: Lora;
    src: url("./assets/fonts/Lora/Lora-Regular.woff2");
    font-display: swap;
}

@import "tailwindcss";

@theme {
    --color-white-b-l: #e7e8e8;
    --color-gray-b-l: #f2f2f2;

    --color-black-text: #101010;
    --color-gray-text-l: #616262;
    
    
    --font-satoshi: Satoshi, sans-serif;
    --font-lora: Lora, serif;
    
    --color-black-b: #101010;
    --color-gray-b: #191818;

    --color-white-text: #f2f2f2;
    --color-gray-text: #a6a6a6;
}

