@font-face {
    font-family: Satoshi;
    src: url("./assets/fonts/Satoshi/Satoshi-Regular.ttf");
}

@font-face {
    font-family: Lora;
    src: url("./assets/fonts/Lora/Lora-Regular.ttf");
}

@import "tailwindcss";

@theme {
    --color-black-b: #101010;
    --color-gray-b: #191818;
    --color-background-upper: #141414;

    --color-white-text: #f2f2f2;
    --color-gray-text: #a6a6a6;

    --font-satoshi: Satoshi, sans-serif;
    --font-lora: Lora, serif;
}

